@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #f0f9ff; 
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: #a7c6ed; 
}

.navbar-brand img {
    height: 70px;
    width: auto;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px); 
}

footer {
    background-color: #e7f1ff; 
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745; 
    border: none;
}

.btn-success:hover {
    background-color: #218838; 
}

.btn-warning {
    background-color: #ffc107; 
    border: none;
}

.btn-warning:hover {
    background-color: #d39e00; 
}